@charset "utf-8";
/* CSS Document */
		button {
    cursor: pointer;
    font-family: "MyCustomFont", sanserif;
    height: 40px;
    line-height: 41px;
    line-height: 40px \9;
    background-color: #4e6ef2;
    border-radius: 10px 10px 10px 10px;
    font-size: 14px;
    box-shadow: none;
    font-weight: 400;
    border: 0;
    outline: 0;
    letter-spacing: normal;
}

body{
	font-family: "MyCustomFont", sanserif;
	margin: 5%;
}
@font-face {
  font-family: "MyCustomFont";
  src:url("https://电专.love/Diarystory/汉仪落花诗简.TTF");
}
