@charset "utf-8";
/* CSS Document */
@font-face {
  font-family: "MyCustomFont";
  src:url("./汉仪落花诗简.TTF");
}
@font-face {
  font-family: "Zapfino";
  src:url("./Zapfino.ttf");
}
a{
	text-decoration: none;
}
icon{
	display: flex;
		
}
body{
	margin: 10%;
	margin-top: 5%;
	background-color: #eee;
	font-family: "MyCustomFont",MyCustomFont,sanserif;
}

h2,h3{
	font-weight: normal;
	display: inline-flex;
	
	}
	
header{
	margin: auto;
	border-bottom: dashed #ccc;
	letter-spacing: 0.1em;
	}

p{
	margin: 1em 0;
	line-height: 1.5;
	font-size: 1.3em;
	letter-spacing: 0.1em;
	text-decoration: underline solid 1px #bbb;
	text-indent : 48px; 
}
text .title2{
	text-align: center;
	font-size: 2em;
	line-height: 3em;
}
.sentences{
	margin: auto;
	width: 90%;
	text-align: center;
	font-family: "Zapfino",Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	line-height: 3em;
	font-size: 2em;
	font-feature-ligatures: common-ligatures discretionary-ligatures;
}
.sentences.translate{
	width: 40%;
	float:right;
	font-family: "MyCustomFont",MyCustomFont,sanserif;
	text-align: center;
	font-size: 1em;
	line-height: 1.3em;
	white-space: nowrap;
}
.container{
	background:#F8F4E2;
	width: 90%;
	margin: 2em auto;
	padding: 30px;
	border: 0.2em solid #D5D4CD;
	
}
.container p{
	margin: 0.5em 0;
	font-size: 1.1em;
	
}
.luokuan {
	float: right;
	min-width: 15em;
	display: block;
	text-align: center;
	font-size: 0.9em;
}
.luokuan p{
	white-space:nowrap;
}		
.clearfix::after{
		content: "";
		display: block;
		clear: both;
	}
.pager{
	margin: 2em 0;
	text-align: center;
	line-height: 3em;
	
}
.pager a{
	margin: 0 3px;
	border: 1px solid #d8d8d8;
	padding: 5px 10px;
}
.pager a:hover{
	border: 1px solid #ef4238;

}
.pager a.select{
	background: #ef4238;
	color: #fff;
	border: none;
}
